.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{ 
  background: url('./img/wallpaper.jpg') no-repeat;
  background-size: 1500px;
  color: #fff;
}

/* h2,
h3,
h5{
  border: 2px solid #000;
  background: #fff;
  max-width: 200px;
  text-align: center;
} */

/* .infoEp{
  border: 2px solid #888;
  background: #fff;
  color: #000;
  width: 200px;
  margin: auto;
  border-radius: 4px;
} */ 

.titulo{
  text-transform: uppercase;
  text-decoration: underline;
}
button{
  border-radius: 4px;
  padding: 15px 15px;
  font-size: 15px;
  margin: 0 10px;
  background: #000;
  color: #fff;
}

button:hover{
  transform: scale(1.1);
  background: #282c34;
  color: white;
  border: none;
}

