/*General*/

.banner{
    margin: 15px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    background-size: cover;
    background: url('../img/wallpaper.jpg') ;
    background-size: 100%;
}

#container {
    display: inline-block;
    position: relative;
}


section{
    border: 1px solid #000;
    border-radius: 2px;
    background-color: rgb(201, 47, 47);
    padding-bottom: 15px;
}

.hide-show{
    display: none;
}

.IDSearch[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.IDSearch[type=number] {
   -moz-appearance: textfield;
   appearance: textfield;
}

.pesquisa{
    font-family: cursive;
    color: #000;
    display: inline-flex;
    justify-content: space-around;
    width: 350px;
    margin: 13px 0;
}

.pesquisa .IDSearch{
    border-radius: 6px;
}

#idButton{
    border-radius: 5px;
    height: 20px;
}


#formulario{
    text-align: center;
}

.dados{
    width: 300px;
    height: 400px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px dashed #000;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.nomeid{
    content: '';
    display: table;
    clear: both;
}

.imagem{
    margin-top: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000;
    border-radius: 5px;
    min-width: 130px;
    min-height: 130px;
}

#error{
    color: #fff;
    text-transform: uppercase;
}

.nome,
.id {
    padding-left: 5px;
    display: inline;
    margin: 10px;
    text-transform: capitalize;    
}
p{
    margin: 1px;
}

h3{
    font-size: 15px;
}

div ul{
    margin: 5px;
    padding: 0
}

.tipo{
    display: inline-flex;
    justify-content: center;
    width: 100%;
}

.tipo li{
    margin: 5px;
    display: inline-flex;
    list-style-type: none;
    text-align: center;
    text-transform: capitalize;
    font-size: 15px;
    line-height: 15px;
    border: 1px solid #000;
    border-radius: 4px;
}

.estatistica ul{
    display: inline;
}

.estatistica li{
    margin: 0 5px;
    list-style-type: none;
    text-transform: capitalize;
    font-size: 15px;
    line-height: 15px;
}
