body {
    margin: 0;
}
.inicio {
    display: inline-flex;
    justify-content: center;
    align-items: center;

}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 30%;
}



.backHome {
    height: 100%;
}

.inicio a,
button {
   
    margin: 25px;
}
