.App {
  text-align: center;
  background: black;
}

.App-header {
  width: 100%;
  min-height: 10vh;
  display: flex;
  flex-direction: inline;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  /* background: black; */
}

.App section {
  width: 100%;
  display: flex;
  justify-content: center;
  /* background: black; */
}

.container {
  width: 70%;
  min-height: 100vh;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

.series {
  height: 200px;
  width: 200px;
  box-sizing: border-box;
  text-align: center;
  border: 2px solid white;
  color:white;
  margin-top: 15px;
  border-radius: 3px;
}
.series h1 {
  margin: 5px;
  font-size: 17px;
}

.series h4 {
  font-size: 13px;
  margin: 0;
}

.series h5 {
  font-size: 10px;
  margin: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.botoes-js {
  display: flex;
  flex-direction: inline-flex;
  /* background: black; */
}

.botoes-js input {
  margin: 10px;
  padding: 10px;
  border: 2px solid rgb(165, 153, 153);
  border-radius: 5px;
}

.botoes-js button:hover {
  transform: scale(1.1);
  background: #282c34;
  color: white;
  border: none;
}


.linkjs {
  display: inline;
  justify-content: center;
}

.linkjs a {
    margin: 20px;
    border: 2px solid white;
    border-radius: 4px;
    background: gray;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 7px;
    
}
