.reactmirror {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  height: 100%;
}


/* .headermirror {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background{ 
  width: 100%;
  height: 657px;
  background: url('./img/wallpaper.jpg') no-repeat;
  background-size: 1500px;
  color: white;
  margin: 0;
}

/* h2,
h3,
h5{
  border: 2px solid #000;
  background: #fff;
  max-width: 200px;
  text-align: center;
} */

.infoEp h4, h5 {
  margin: 5px;
 
}

.mirror {
  width: 100%;
  min-height: 600vh;
}
.titulo{
  text-transform: uppercase;
  text-decoration: underline;
}
.botoes{
  display: inline-flex;
  align-items: center;
  margin-top: 20px;
}

.botoes button {
  border-radius: 4px;
  padding: 15px 15px;
  font-size: 15px;
  margin: 0 10px;
  background: #000;
  color: #fff;
}

.botoes button:hover{
  transform: scale(1.1);
  background: #282c34;
  color: white;
  border: 1px solid white;
  
}

.linkjs {
  display: inline-flex;
  justify-content: center;
}

.linkjs a {
  
}

#deslogar {
  margin: 20px;
  border: 2px solid white;
  border-radius: 4px;
  background: red;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding: 7px;
}



#nota[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#nota[type=number] {
 -moz-appearance: textfield;
 appearance: textfield;
}

.camponota {
  margin-top: 25px;
}


