/*Form*/

.field{
    display: block;
    width: 100%;
    padding: 5px 10px;
    max-width: 100%;
    margin-bottom: 15px;
    border: 1px solid #999;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea.field{
    font-family: Arial, Helvetica, sans-serif;
    min-width: 100%;
    min-height: 100px;
}

.field:focus{
    border-color: #0f7afd;
}

::-webkit-input-placeholder { /* Edge */
    color: #bbb;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: #bbb;
}

::placeholder {
color: #bbb;
}