/*Header*/

.header{
    padding: 15px 0;
    background: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    position: relative;
    z-index: 3;
}

.logo{
    padding-top: 10px;
    font-size: 28px;
    line-height: 28px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 600px){
    .header{
        text-align: center;
    }
    
    .logo,
    .header ul{
        float: none;
    }   

    .logo{
        padding-top: 0;
        margin-bottom: 10px;
    }

    .header nav{
        padding: 0;
    }

    .header a:not(.logo){
        padding: 7px;
        font-size: 12px;
        line-height: 12px;
    }
}