/*Button*/

.button{
    display: inline-block;
    margin: 0;
    border: none;
    padding: 15px 20px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    transition: background 0.2s ease-in-out 0s, transofrm 0.2s ease-in-out 0s; 
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
}

.button:hover{
    transform: scale(1.1);
}

.button-blue{
    background: #0F7AFD;
}

.button-blue:hover{
    background: #005bca;
}

.button-blue:active{
    background: #0fcdfd;
}

.button-green{
    background: #34AE49;
}

.button-green:hover{
    background: #2c963e;
}

.button-green:active{
    background: #33d824;
}

.button-dblue{
    background: darkblue;
    color: #fff;
    font-size: 14px;
    line-height: 14px;
}

@media (max-width: 600px){
    .button{
        display: block;
        width: 100%;
    }
}