#sucesso {
    background: green;
		-webkit-animation: fadeinout 3s linear forwards;
    animation: fadeinout 3s linear forwards;
}

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

#falha {
		background: red;
		-webkit-animation: fadeinout 3s linear forwards;
    animation: fadeinout 3s linear forwards;
}
