

.sectionCard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  box-sizing: border-box;
  height: calc(100vh - 80px);
}

.cardInfo {
  height: fit-content;
  margin: 40px;
  width: 300px;
  border: 3px solid rgba(19, 46, 196, 0.986);
  padding: 30px;
  border-radius: 5px;
}

.cardInfo h6{
 text-align: center;
 text-transform: capitalize;
}

.mostraDetalhes {
  display: flex;
  background: rgb(24, 57, 117);
  color: white;
  border: rgb(2, 2, 59);
  align-items: center;
  border-radius: 3px;
}



.mostraDetalhes:hover {
  transform: scale(1.2);
}

.barraDeBusca {
  border: 1px solid black;
}

.divBusca {
  display: flex;
  justify-content: center;
}

.divDigital {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: -10px;
}

.botaoDigital {
  background: rgb(24, 57, 117);
  border: 1px solid rgb(2, 0, 131);
  color: white;
  border: rgb(2, 2, 59);
  border-radius: 3px;
  padding: 5px 10px;
}

.botaoDigital:hover {
  transform: scale(1.2);
}